@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* box-model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* typography */
    font-family: 'Poppins', sans-serif;
}

body{
    /* box-model */
    height: 100vh;
    /*background*/
    background-image: url(./imgs/ekaterina-novitskaya-KugwNl9jX1Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    /* box-model */
    height: 100%;
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.player-side, .pc-side, .timer {
    /*box-model*/
    width: 100vw;
}
.cards {
    /*box-model*/
    width: 100%;
    /*layout*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}
#timer{
    /*typography*/
    text-align: center;
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    color: rgb(240, 208, 182);
}

.cards img{
    /*box-model*/
    height: 300px;
    /*layout*/
    /*others*/
    transition: .1s;
}

.pc-side{
    position: relative;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    
}
.pc-side pc-cards:hover{
    transform: rotateY(180deg);
}
.cards-back, .cards-front{
    position: absolute;
    
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover:hover{
    /*others*/
    cursor: pointer;
    transform: translateY(-30px);
    transition: .1s;
}
.userChoice{
    /*layout*/
    /* transform:  translateY(-250px)
                translateX(170px) */
    position: absolute;
    bottom: 33%;
    right: 25%;
    transition: .1s;
}
